@page "/GameProfile"

<h3>GameProfile</h3>

<div class="Container">

    <div class="ImageBox">
        <div class="GameImage"></div>
        <div class="SmallImages">
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
            <div class="SmallImage"></div>
        </div>
    </div>

    <div class="InfoBox">
        <p class="GameName">Baldurs gate 3 til salg</p>
        <p class="Description"> Sælger dette Baldurs gate spil da jeg ikke kommer til at bruge det alligevel</p>
        <p class="Condition">God tilstand</p>
        <p class="Genre">Genre: Adventure, RPG, Strategy, Multiplayer, Singleplayer</p>
        <p class="Publisher">Publisher: Larian Studios</p>
        <p class="Developer">Developer: Larian Studios</p>
        <p class="MaxPlayer">Max Players: 4 players</p>
        <p class="Platform">Platform: PC</p>
        <p class="Price">500 Kr.</p>
    </div>
</div>
    
    <div class="BigBox"></div>






<style>
    .Container{
        display:flex;
        justify-content: space-between;
       

        
    }

    .ImageBox {
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 700px;
        flex-shrink: 0;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
    }

    .GameImage {
        width: 480px;
        height: 350px;
        flex-shrink: 0;
        background: #e6e6e6;
        margin-top: 5%;
        margin-left: 5%;
    }

    .SmallImages {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: auto;
    }

    .SmallImage {
        width: 100px;
        height: 80px;
        flex-shrink: 0;
        background: #e6e6e6;
        margin-bottom: 5px;
        margin-left: 5%;
    }

    .InfoBox {
        flex-direction: column;
        width: 500px;
        height: 526px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    .GameName{
        flex-shrink: 0;
        color: #FFF;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        margin-top: 5%;
        margin-left: 5%;
    }
    .Description{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }

    .Condition {
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Genre{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Publisher{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Developer{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .MaxPlayer{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Platform{
        flex-shrink: 0;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Price{
        flex-shrink: 0;
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
    }
    .BigBox{
        flex-direction: column;
        width: 900px;
        height: 726px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-top: 3%;
        margin-left: 10%;
    }
    </style>

@code {
    
}
