@page "/Opret spil"


<div class="box">
   
    <input class="Platform" type="Text" />
    <input class="Genre" type="Text" />
    <input class="Publisher" type="Text" />
    <input class="Developer" type="Text" />
    <input class="NumberOfPlayers" type="Text" />
    <input class="ReleaseDate" type="Text" />
    <input class="AgeRating" type="Text" />
    
</div>

<style>
    .box {
        display: flex;
        width: 1217px;
        height: 726px;
        flex-shrink: 0;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .Platform{
         width: 240px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 13px;
    background:  gray 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
    .Genre{
        display:fles;
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50% ;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    .Publisher{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    .Developer{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50% ;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    .NumberOfPlayers{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    .ReleaseDate{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    ¨.AgeRating{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: gray 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }

    }
</style>
@code {
  

}



