

@page "/OpretSpil"

<div class="box">
    <div class="InfoBox" float: left>
        <input class=" Name" type="text" placeholder="Navn" />
        <input class="Condition" type="text" placeholder="Tilstand" />
        <textarea class="Description" type="text" placeholder="Beskrivelse" />
        <input class="Price" type="text" placeholder="Pris" />


    </div>
    <div class="GenreBox" >
        <div>
            <input class="Platform" type="Text" placeholder="Platform" />
            <input class="Genre" type="Text" placeholder="Genre" />
            <input class="Publisher" type="Text" placeholder="Publisher" />
            <input class="Developer" type="Text" placeholder="Developer" />
            <input class="NumberOfPlayers" type="Text" placeholder="NumberOfPlayers" />
            <input class="ReleaseDate" type="Text" placeholder="ReleaseDate" />
            <input class="AgeRating" type="Text" placeholder="AgeRating" />

        </div>
        
        <div class="req" >
            <textarea class="MinimumRequirements" type="text" placeholder="Minimum Requirements" />
            <textarea class="recommendedRequirements" type="text" placeholder="recommended Requirements" />
        </div>
        
        
        



    </div>

    
   
</div>

    <div class="ImageBox">
     <div>
        <button class="AddImage" type="button">Tilføj billede</button>
        <div class="ImageAdded">
            <div class="AddedImage"></div>
            <div class="AddedImage"></div>
            <div class="AddedImage"></div>
        </div>
        </div>
       
        
       

    </div>





<style>
    .box{
        display: flex;
    }
    .InfoBox{
      
        flex-direction: column;
        width: 45%;
        height: 726px;
        
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        

    }
    .Name,
    .Condition
    {
        
        width: 75%;
        flex-direction: row;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        
        margin-left: 5%;
    }

    .Description
    {
        width: 75%;
        flex-direction: row;
        height: 260px;
        text-align: left;
        vertical-align: top;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-left: 5%;
        
    }

    .Price{
        width: 100px;
        flex-direction: row;
        height: 40px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-left: 5%;
    }

    
    .GenreBox {
        display: flex;
        
        width: 50%;
        height: 726px;
        flex-shrink: 0;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
   
    .req{
        flex-direction:column;
        margin-top: 2%;
        margin-right: 5%;
    }

    .MinimumRequirements,
    .recommendedRequirements {
        width: 250px;
       margin-bottom:5%;
        height: 260px;
       
        
        border-radius: 13px;
        background: #E6E6E6;
        
        
       
    }
    
    .Platform,
    .Genre,
    .Publisher,
    .Developer,
    .NumberOfPlayers,
    .ReleaseDate,
    .AgeRating
     {
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
       flex-direction:column;
       
       
    }

    .ImageAdded {
        display:flex;
        flex-direction:Row;
    }
    .ImageBox{
        
        
        width: 99%;
        height: 470px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        
    }
    .AddImage{
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
        
    }
    .AddedImage{
        width: 300px;
        height: 260px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
        
       
    }
    

   
</style>




@code {
   
}


