@page "/OpretSpil"
@using Domain_Models
@using System.Data.Common;
@using Microsoft.Data.SqlClient;
@using Domain_Models.DataBase;
@using Microsoft.Identity.Client;



<div class="box">
    <div class="InfoBox" float: left>
        <input @bind="name" class="Name" type="text" placeholder="Navn" />
        <input @bind="condition" class="Condition" type="text" placeholder="Tilstand" />
        <textarea @bind="description" class="Description" type="text" placeholder="Beskrivelse" />
        <input @bind="price" class="Price" type="text" placeholder="Pris" />


    </div>
    <div class="GenreBox">
        <div>
            <input @bind="publisher" class="Publisher" type="Text" placeholder="Publisher" />
            <input @bind="developer" class="Developer" type="Text" placeholder="Developer" />
            <input @bind="numberOfPlayers" class="NumberOfPlayers" type="Text" placeholder="NumberOfPlayers" />
            <input @bind="releaseDate" class="ReleaseDate" type="Text" placeholder="ReleaseDate" />
            <input @bind="ageRating" class="AgeRating" type="Text" placeholder="AgeRating" />

        </div>








    </div>



</div>

<div class="ImageBox">
    <div>
        <button class="AddImage" type="button">Tilføj billede</button>
        <div class="ImageAdded">
            <div class="AddedImage"></div>
            <div class="AddedImage"></div>
            <div class="AddedImage"></div>
        </div>
    </div>




</div>

<div class="opret">
    <button @onclick="Opret" class="Opret" type="button">Opret</button>
</div>





<style>
    .box {
        display: flex;
    }

    .InfoBox {

        flex-direction: column;
        width: 45%;
        height: 726px;

        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;


    }

    .Name,
    .Condition {

        width: 75%;
        flex-direction: row;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;

        margin-left: 5%;
    }

    .Description {
        width: 75%;
        flex-direction: row;
        height: 260px;
        text-align: left;
        vertical-align: top;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-left: 5%;

    }

    .Price {
        width: 100px;
        flex-direction: row;
        height: 40px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-left: 5%;
    }


    .GenreBox {
        display: flex;

        width: 50%;
        height: 726px;
        flex-shrink: 0;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .req {
        flex-direction: column;
        margin-top: 2%;
        margin-right: 5%;
    }

    .MinimumRequirements,
    .recommendedRequirements {
        width: 250px;
        margin-bottom: 5%;
        height: 260px;


        border-radius: 13px;
        background: #E6E6E6;



    }

    .Platform,
    .Genre,
    .Publisher,
    .Developer,
    .NumberOfPlayers,
    .ReleaseDate,
    .AgeRating {
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;
        flex-direction: column;


    }

    .ImageAdded {
        display: flex;
        flex-direction: Row;
    }

    .ImageBox {

        display: flex;
        width: 99%;
        height: 470px;
        border-radius: 36px;
        background: rgba(202, 121, 0, 0.65);
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;

    }

    .AddImage {
        width: 240px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;

    }

    .AddedImage {
        width: 300px;
        height: 260px;
        flex-shrink: 0;
        border-radius: 13px;
        background: #E6E6E6;
        margin-top: 5%;
        margin-bottom: auto;
        margin-left: 5%;


    }
</style>




@code {

    string name { get; set; }
    string condition { get; set; }
    string description { get; set; }
    decimal price { get; set; }
    
    string platformSTring { get; set; }

    string genreString { get; set; }
    string publisher { get; set; }
    string developer { get; set; }
    int numberOfPlayers { get; set; }
    DateTime releaseDate { get; set; }
    int ageRating { get; set; }
  



    void Opret()
    {
        Game game = new Game();
        Seller seller = new Seller();
        GameListing gameListing = new GameListing();
        gameListing.game = game;
        gameListing.game.name = name;
        gameListing.title = name;
        gameListing.condition = condition;
        gameListing.game.description = description;
        gameListing.price = price;
        gameListing.dateMade = DateTime.Now;
      
        seller.createListing(gameListing);
    }


}
