@page "/profile"

<PageTitle>profile</PageTitle>

<h1>Profile</h1>

<div class="showProfileBox">
    <div class="pictureAndUsername">
        <img src="" class="picture" alt="Game Picture" />
        <div>
            <h1 class="username">testUser123</h1>
            <p class="address">Example Street 3B</p>
            <p class="address">8000 Århus C</p>
        </div>
    </div>
    <div class="userInformationAndSeeMoreButton">
        <div class=userInformationCard>
            <p>DenGladeBruger</p>
            <p>Århus</p>
        </div>
        <a href="counter"><button class="seeMoreButton">Se mere</button></a>
    </div>
</div>
