@page "/profile"

<PageTitle>profile</PageTitle>

<h1>Profile</h1>

<div class="showGameListingBox">
    <div class="gamePictureAndTitle">
        <img src="" class="gamePicture" alt="Game Picture" />
        <div>
            <h1 class="gameTitleAndCondition">Sælger Dette Baldurs gate spil da jeg ikke kommer til at bruge det mere alligevel</h1>
            <p class="gameTitleAndCondition">Er i god stand</p>
        </div>
    </div>
    <div class="userInformationAndSeeMoreButton">
        <div class=userInformationCard>
            <p>DenGladeBruger</p>
            <p><i class="fa-thin fa-location-dot" style="color: #ffffff;"></i> Århus</p>
        </div>
        <a href="counter"><button class="seeMoreButton">Se mere</button></a>
    </div>
</div>
