@page "/profile"
@page "/profile/{userId:int}"
@using Domain_Models;

<PageTitle>profile</PageTitle>

<h1>Profile</h1>

<div class="showProfileBox">
    <div class="pictureAndUsername">
        <img src="" class="picture" alt="Game Picture" />
        <div>
            <h1 class="username">@user.username</h1>
            <p class="address">Example Street 3B</p>
            <p class="address">@user.zipCode @user.city</p>
            <p class="aboutMeTitle">About me:</p>
            <p class="aboutMe">@user.aboutMe</p>
        </div>
    </div>
    <div class="userInformationAndSeeMoreButton">
        <div class=userInformationCard>
            <p>DenGladeBruger</p>
            <p>Århus</p>
        </div>
        <a href="GameProfile"><button class="seeMoreButton">Se mere</button></a>
    </div>
    <div class="show review">
        <ShowReview />
        <ShowReview />
        <ShowReview />
    </div>
</div>


@code {

     [Parameter]
    public int userId { get; set; }



    public User user { get; set; }


    void makeUser(){
        user = new User();
        user = user.GetUser(userId);
    }

    protected override void OnInitialized()
    {
        makeUser();
        
    }
}

