<div class="reviewTitleDescriptionAndRating">
    <h1 class="reviewTitle">Super god sælger</h1>
    <p class="reviewRating">Rating: 5 stars(this needs to be replaced with the actual star icons)</p>
    <p class="reviewDescription">Super god og virkelig venlig sælger, kan anbefales at købe spil herfra</p>
</div>
