*{
    font-family: 'Montserrat', sans-serif;
}
.showGameListingBox {
    display: flex;
    width: 1317px;
    height: 226px;
    flex-shrink: 0;
    border-radius: 36px;
    background: rgba(202, 121, 0, 0.65);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.gamePicture {
    width: 192px;
    height: 163px;
    flex-shrink: 0;
    border-radius: 13px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.gamePictureAndTitle {
    display: flex;
}

.gameTitleAndCondition {
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 4%;
    margin-left: 2%;
}

.userInformationCard {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: right;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12%;
    margin-right: 3%;
}

.seeMoreButton {
    width: 174px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.userInformationAndSeeMoreButton {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.locationIcon{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 5%;
    margin-bottom: 4%;
    fill:#FFF;
}