@inject NavigationManager MyNavigationManager
<div class="navbar-brand">
    <h1>Gaming</h1>
</div>

<div class="searchbar-container">
    <input class="searchbar" type="text" placeholder="Søg efter en vare" />
    <div class="searchbar-icon">
        <i class="fas fa-search"></i>
    </div>
</div>
<div class="sideBarInformationBox">

@if(@MyNavigationManager.Uri.Contains("profile"))
{
<div class="profileSideBar">
        <div class="profilSideBarPhoneNumber">
            <p>Tlf. Nummer <br />
            12 34 56 78</p>
        </div>
        <div class="ProfilSideBarEmail">
            <p>Email <br />example@email.com</p>
        </div>
    </div>
}
else if (MyNavigationManager.Uri.Contains("OpretSpil"))
{
    <div class="opretSpilSideBar">
        <div class="opretSpilPofilBillede">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            <p>ExampleUser123</p>
        </div>
    </div>
} 

</div>




@code {

}
