@inject NavigationManager MyNavigationManager
@using Microsoft.Data.SqlClient;
@using System.Text;
@using Domain_Models.DataBase;
@using System.Configuration;
@using System.Data;
<div class="navbar-brand">
    <h1>Gaming</h1>
</div>

<div class="searchbar-container">
    <input  class="searchbar" type="text" placeholder="Søg efter en vare" />
    <button @onclick="search" class="Submit" type="submit"></button>
    <div class="searchbar-icon">
        <i class="fas fa-search"></i>
    </div>
</div>
<div class="sideBarInformationBox">

@if(@MyNavigationManager.Uri.Contains("profile"))
{
<div class="profileSideBar">
        <div class="profilSideBarPhoneNumber">
            <p>Tlf. Nummer <br />
            12 34 56 78</p>
        </div>
        <div class="ProfilSideBarEmail">
            <p>Email <br />example@email.com</p>
        </div>
    </div>
}
else if (MyNavigationManager.Uri.Contains("Opretspil") || MyNavigationManager.Uri.Contains("GameProfile"))
{
    <div class="opretSpilSideBar">
        <div class="opretSpilPofilBillede">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            <p>ExampleUser123</p>
        </div>
    </div>
} 

</div>




@code {
    protected override void OnInitialized()
    {
        MyNavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        this.StateHasChanged();
    }
    
      private void search()
    {

        string ConnectionString = System.Environment.GetEnvironmentVariable("ASPNETCORE_CONNECTIONSTRING");
        using (SqlConnection _connection = new SqlConnection(ConnectionString))
        {
            SqlCommand cmd = new SqlCommand();
            cmd.Connection = _connection;   

            StringBuilder sbCommand = new StringBuilder("Select * from GameListing");
            
            sbCommand.Append("where title=@title");
            SqlParameter param = new SqlParameter("@title", SqlDbType.VarChar);
            cmd.Parameters.Add(param);

            cmd.CommandText = sbCommand.ToString();
            cmd.CommandType = CommandType.Text;

            _connection.Open();
            //SqlDataReader rdr = cmd.ExecuteReader();
            
        }

    }

  

}
