@inject NavigationManager NavigationManager
<div class="navbar-brand">
    <h1>Gaming</h1>
</div>

<div class="searchbar-container">
    <input class="searchbar" type="text" placeholder="Søg efter en vare" />
    <div class="searchbar-icon">
        <i class="fas fa-search"></i>
    </div>
</div>
<div class="sideBarInformationBox">
@if(NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "profile")
{
<div class="profileSideBar">
        <div class="profilSideBarPhoneNumber">
            <p>Tlf. Nummer</p>
            <p>12 34 56 78</p>
        </div>
        <div class="ProfilSideBarEmail">
            <p>Email</p>
            <p>example@email.com</p>
        </div>
    </div>
}
else if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "Opret Spil")
{
    <div class="opretSpilSideBar">
        <div class="opretSpilPofilBillede">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            <p>ExampleUser123</p>
        </div>
    </div>
}

</div>




@code {

}
