.searchbar {
    width: 291px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-left: 6%;
    margin-top: 10%;
}
.avatar{
    width: 290px;
    height: 300px;
}

.searchbar-icon {
    color: #CA7900;
    position: relative;
    right: 15%;
    top: 20%;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.navbar-brand {
    font-size: 1.1rem;
}

.sideBarInformationBox {
    width: 289px;
    height: 635px;
    flex-shrink: 0;
    border-radius: 26px;
    background: rgba(246, 201, 132, 0.26);
    margin: auto;
    margin-top: 10%;
    color: #fff;
}

.profileSideBar {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
}
