@inject NavigationManager MyNavigationManager
@using Microsoft.Data.SqlClient;
@using System.Text;
@using Domain_Models.DataBase;
@using System.Configuration;
@using System.Data;
@using System.Diagnostics;
<div class="navbar-brand">
    <h1>Gaming</h1>
</div>

<div class="searchbar-container">
    <input @bind="searchTitle" class="searchbar" type="text" placeholder="Søg efter en vare" />
    <button @onclick="searchbar" class="Submit" type="button"></button>

    <div class="searchbar-icon">
        <i class="fas fa-search"></i>

    </div>

</div>

<div class="sideBarInformationBox">

@if(@MyNavigationManager.Uri.Contains("profile"))
{
<div class="profileSideBar">
        <div class="profilSideBarPhoneNumber">
            <p>Tlf. Nummer <br />
            12 34 56 78</p>
        </div>
        <div class="ProfilSideBarEmail">
            <p>Email <br />example@email.com</p>
        </div>
    </div>
}
else if (MyNavigationManager.Uri.Contains("Opretspil") || MyNavigationManager.Uri.Contains("GameProfile"))
{
    <div class="opretSpilSideBar">
        <div class="opretSpilPofilBillede">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            <p>ExampleUser123</p>
        </div>
        <div class="opretSpilSideBarEmail">
            <p>Email: example@example.com</p>
            <p>Tlf. Nr: 89892329</p>
        </div>
        <div class="opretSpilSideBarCity">
            <p>by postnummer</p>
        </div>
    </div>
} 

</div>




@code {
    public List<string> titles = new List<string>();
    public string searchTitle;
    protected override void OnInitialized()
    {
        MyNavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        this.StateHasChanged();
    }

    public void searchbar()
    {
        titles.Clear();
        string ConnectionString = System.Environment.GetEnvironmentVariable("ASPNETCORE_CONNECTIONSTRING");
        using (SqlConnection _connection = new SqlConnection(ConnectionString))
        {
            SqlCommand cmd = new SqlCommand();
            cmd.Connection = _connection;

            StringBuilder sbCommand = new StringBuilder(
                "SELECT title FROM GameListing INNER JOIN Game ON GameListing.gameID = Game.id ");
            sbCommand.Append("WHERE title LIKE @title");

            cmd.CommandText = sbCommand.ToString();
            cmd.CommandType = CommandType.Text;
            Console.WriteLine(cmd.CommandType);

            cmd.Parameters.AddWithValue("@title", "%" + searchTitle + "%");

            _connection.Open();

            using (SqlDataReader reader = cmd.ExecuteReader())
            {

                while (reader.Read())
                {
                    titles.Add(reader.GetString(0));
                    Debug.WriteLine(reader.GetString(0));

                }
            }
        }
        
    }




    


    
    
    
    


   


  

}
}