<div class="navbar-brand">
    <h1>Gaming</h1>
</div>

<div class="searchbar-container">
    <input class="searchbar" type="text" placeholder="Søg efter en vare" />
    <div class="searchbar-icon">
        <i class="fas fa-search"></i>
    </div>
</div>

@code {

}
